<!DOCTYPE html>
<html>
    <head>
        <!--inline[../../../common/page/head.ejs]-->
        <title>平台优势</title>
        <link rel="stylesheet" type="text/css" href="../../static/about.css?__inline">
    </head>
    <body>
        <div class="container">
            <img src="../../static/image/yeziyoushi.png?__inline"  class="img-responsive">
            <section class="content">
                <h4 class="title">优质资产</h4>
                <hr>
                <p>椰子平台上的投资标的主要来源于央企、上市企业或世界500强企业的相关融资资产。我们只选择资金雄厚，信用良好的核心企业作为资产的主要来源，让您投资更安心。
                </p>
            </section>
            <section class="content">
                <h4 class="title">资金雄厚</h4>
                <hr>
                <p>椰子理财注册资本金实缴1亿元，并设立2000万风险保障金账户。平台资金实力更雄厚，您的投资更安全。 
                </p>
            </section>
            <section class="content">
                <h4 class="title">携手银联</h4>
                <hr>
                <p>椰子理财使用银联网络支付，让您享受银行式的支付安全与便捷。
                </p>
            </section>
            <section class="content">
                <h4 class="title">风控保障</h4>
                <hr>
                <p>专业的风控团队把关，包括且不限于多层信用审查、还款能力调查、保障措施审核、实地回访对账，确保所有项目信息真实有效合法，多维度保障您的个人权益。
                </p>
            </section>
            <section class="content">
                <h4 class="title">承诺回购</h4>
                <hr>
                <p>承诺回购。椰子理财坚持，每一笔投资项目，都需要合作机构承诺及时回购或进行担保。一旦资产出了任何问题，合作机构都会及时垫付，投资人的资金不会轻易受到干扰。
                </p>
            </section>
        </div>
    </body>
</html>