<!DOCTYPE html>
<html>
    <head>
        <!--inline[../../../common/page/head.ejs]-->
        <title>关于我们</title>
        <link rel="stylesheet" type="text/css" href="../../static/about.css?__inline">
    </head>
    <body>
        <div class="container">
            <img src="../../static/image/yezilogo.png?__inline"  class="img-responsive">
            <section class="content">
                <h4 class="title">公司介绍</h4>
                <hr>
                <h4>深圳前海椰子金融信息服务有限公司</h4>
                <p>深圳前海椰子金融信息服务有限公司成立于2015年，椰子理财是深圳前海椰子金融信息服务有限公司旗下核心产品，以P2B的商业模式，将互联网金融与商业保理创新结合。为广大的投资者打造安全、便捷、专业，可靠的互联网金融理财产品。
                </p>
                <p>椰子理财秉持着一个经营理念——让更多人“懂投资，会理财”。我们不仅打造平台，更希望能够为所有人分享科学的理财观。我们不仅提供优质理财产品，更希望能够让您成为一个聪明的投资者。
                </p>
            </section>
            <section class="content">
                <h4 class="title">椰子理财经营理念</h4>
                <hr>
                <h4>“懂投资，会理财”</h4>
                <p>椰子理财拥有专业的产品、运营、客服、技术、风控团队与法律顾问团，旨在打造一个更安全、快捷、高效的互联网金融平台。
                </p>
            </section>
            <section class="content">
                <h4 class="title">椰子理财动态</h4>
                <hr>
                <h4>大事件：</h4>
                <div class="pic_list">
                    <img src="../../static/image/timeline.png?__inline"/>
                </div>
            </section>
        </div>
    </body>
</html>