<!DOCTYPE html>
<html>
    <head>
        <!--inline[../../../common/page/head.ejs]-->
        <title>合作伙伴</title>
        <link rel="stylesheet" type="text/css" href="../../static/about.css?__inline">
    </head>
    <body>
        <div class="container">
            <img src="../../static/image/hezuohuobantoutu.png?__inline"  class="img-responsive">
            <section class="content">
                <h4 class="title">银联网络</h4>
                <hr>
                <img src="../../static/image/xieshouyinlian.png?__inline" class="img-responsive">
                <p>广州银联网络支付有限公司成立于2001年12月，是中国银联旗下、银联商务全资控股的高新技术企业，专业从事银行卡收单及专业化服务、互联网支付、预付卡受理等主营业务。2011年5月，公司获得人民银行颁发的全国首批《支付业务许可证》。
                </p>
            </section>
            <section class="content">
                <h4 class="title">北京盈科（上海）律师事务所</h4>
                <hr>
                 <img src="../../static/image/lvshisuo.png?__inline" class="img-responsive">
                <p>盈科律师事务所是一家源自中国的全球化法律服务机构，致力于为客户提供“一站式”全球商务法律服务。盈科律师事务所总部设于中国北京，在国内、外拥有多家分部。
                </p>
            </section>
            <section class="content">
                <h4 class="title">中国海洋石油总公司</h4>
                <hr>
                 <img src="../../static/image/haiyangshiyou.png?__inline" class="img-responsive">
                <p>中国海洋石油总公司是国务院国有资产监督管理委员会直属的特大型国有企业，是中国最大的海上油气生产商。公司成立于1982年，总部设在北京。自成立以来，中国海油保持了良好的发展态势，由一家单纯从事油气开采的上游公司，发展成为主业突出、产业链完整的国际能源公司。
                </p>
            </section>
            <section class="content">
                <h4 class="title">中国电力建设集团有限公司</h4>
                <hr>
                 <img src="../../static/image/dianjian.png?__inline" class="img-responsive">
                <p>中国电力建设集团有限公司（简称“中国电建”）成立于2011年9月29日，是经国务院批准，由国务院国有资产监督管理委员会履行出资人职责，按照《中华人民共和国公司法》登记注册的国有独资公司。同时也是我国唯一提供水利电力工程及基础设施规划、勘测设计、咨询监理、建设管理、投资运营为一体的综合性建设集团。
                </p>
            </section>
            <section class="content">
                <h4 class="title">信义玻璃</h4>
                <hr>
                 <img src="../../static/image/xinyiboli.png?__inline" class="img-responsive">
                <p>信义玻璃控股有限公司创建于1988年，2005年2月在香港联交所主板上市，是全球玻璃产业链的主要制造商之一。信义玻璃是中国最大的汽车玻璃生产商之一，占有全球汽车玻璃替换市场20%以上份额，同时亦是中国最大的高档LOW-E节能玻璃生产商之一，占有中国 LOW-E 节能玻璃市场约15%份额。
                </p>
            </section>
        </div>
    </body>
</html>