<!DOCTYPE html>
<html>
    <head>
        <!--inline[../../../common/page/head.ejs]-->
        <title>安全保障文本</title>
        <link rel="stylesheet" type="text/css" href="../../static/about.css?__inline">
    </head>
    <body>
        <div class="container">
            <img src="../../static/image/security_platform.png?__inline"  class="img-responsive">
            <section class="content">
                <h4 class="title">平台保障</h4>
                <hr>
                <h4>只要最优质</h4>
                <p>我们只选择资金雄厚，信用良好的核心企业作为资产的来源。我们的投资标的主要来源于成熟稳定的上市央企或世界500强企业的相关融资资产。
                </p>
                <h4>只要最安全</h4>
                <p>专业的风控团队把关，包括且不限于多层信用审查、还款能力调查、保障措施审核、实地回访对账，确保所有项目信息真实有效合法。
                </p>
                <h4>只要最专业</h4>
                <p>椰子理财聘请了国内知名的律师团队进行全方位的法律文件设计，确保您在椰子理财的所有投资可以合理合法的追索相应的权益。
                </p>
                <h4>只要最保障</h4>
                <p>我们坚持，每一笔投资项目，都需要合作机构承诺及时回购并进行担保。一旦资产出了任何问题，合作机构都会及时垫付，投资人的资金不会轻易受到干扰。
                </p>
                <h4>只要最无忧</h4>
                <p>虽然平台本身的项目风险十分低，但出于对您的负责，平台准备了千万级的风险保障金。保障金会在第一时间、最大程度上保障您的个人权益。同事，所有的资金都由中国银联进行托管，平台不经手您的任何资金，您可以放心选择。
                </p>
            </section>
            <img src="../../static/image/security_contract.png?__inline"  class="img-responsive">
            <section class="content">
                <h4 class="title">相关合同保障</h4>
                <hr>
                <h4>应收账款审核</h4>
                <p>由资深风控人员审核基础交易合同，通过审核合同条款，印章真实性以及原债务人开具的验收证明和原债权人的发货证明，判断供货商已真实履约。专业会计师核查专业会计师核查原债权人银行对账单及财务报表，保证应收账款的真实性与合法性。
                </p>
                <h4>央行应收款登记</h4>
                <p>本保理业务已通过央行应收账款质押公示登记系统办理转让登记。
                </p>
                <h4>应收账款账户监管</h4>
                <p>保理商设立应收账款监管专户，监管应收账款的归集及回收，保证本息足额、按时偿还。
                </p>
                <h4>确认函</h4>
                <p>所有的项目我们都会与提供方进行确认，签订具有法律效应的合同文件，充分保障投资者的权益。
                </p>
            </section>
        </div>
    </body>
</html>