<!DOCTYPE html>
<html>
    <head>
        <!--inline[../../../common/page/head.ejs]-->
        <title>企业文化</title>
        <link rel="stylesheet" type="text/css" href="../../static/about.css?__inline">
    </head>
    <body>
        <div class="container">
            <img src="../../static/image/qiyewenhuatoutu.png?__inline"  class="img-responsive">
            <section class="content">
                <h4 class="title">我们注重企业社会责任</h4>
                <hr>
                <p>“注重回馈，懂得感恩”是椰子理财的使命。我们不只以盈利为唯一责任，我们更愿意与社会共同成长，通过细微但有意义的方式让生活更加有爱。我们希望成为一个具有高度社会责任感的企业，我们愿意承担社会责任。
                </p>
                <p>2015年12月，椰子理财携手“首彩爱心慈善基金会”举办郎朗钢琴独奏慈善音乐会。此次慈善音乐会的所有票房所得都将无偿捐赠。这次的音乐会是公益牵头，文化搭台，企业推动的跨界联合艺术慈善之举，旨在资助外来劳务工家庭的孩子学习钢琴，帮助拥有音乐梦想的孩子，用艺术为爱和梦想插上翅膀。
                </p>
                <p>我们，还在继续。椰子，一直在努力！</p>
                <img src="../../static/image/langlangpeitu2.png?__inline" class="img-responsive">
                <br/>
                <img src="../../static/image/langlangpeitu1.png?__inline" class="img-responsive">
            </section>
            <section class="content">
                <h4 class="title">我们注重公司人文</h4>
                <hr>
                <p>椰子理财是来自不同地区且拥有不同长处的人搭建起来的，椰子理财团队永远是最宝贵的财富。我们一直致力于为团队提供轻松但利于高效专业工作的氛围，我们提供具有竞争力的薪酬福利，提供全面的内部培训，提供有趣的节日活动。让团队工作舒心，更加高效。
                </p>
                <img src="../../static/image/yeapeople.png?__inline" class="img-responsive">
            </section>
        </div>
    </body>
</html>