<!DOCTYPE html>
<html>
<head>
    <!--inline[../../common/page/head.ejs]-->
    <title>常见问题</title>
    <link rel="stylesheet" type="text/css" href="../static/faq.css?__inline">
</head>
<body>

    <section class="faqSection">
        <div class="header downLine ninty">
            <span class="title1">注册登陆问题</span>
            <img src="../static/image/arrow.png"  alt="" class="arrow upArrow">
        </div>
        <div class="content">
        </div>
    </section>
    <section class="faqSection">
        <div class="header downLine ninty-one">
            <span class="title1">充值提现问题</span>
            <img src="../static/image/arrow.png"  alt="" class="arrow upArrow">
        </div>
        <div class="content">
        </div>
    </section>
    <section class="faqSection">
        <div class="header downLine ninty-two">
            <span class="title1">投资赎回问题</span>
            <img src="../static/image/arrow.png"  alt="" class="arrow upArrow">
        </div>
        <div class="content">
        </div>
    </section>
    <section class="faqSection">
        <div class="header downLine ninty-three">
            <span class="title1">体验金问题</span>
            <img src="../static/image/arrow.png"  alt="" class="arrow upArrow">
        </div>
        <div class="content">
        </div>
    </section>
     <section class="faqSection">
        <div class="header downLine ninty-four">
            <span class="title1">账户管理问题</span>
            <img src="../static/image/arrow.png"  alt="" class="arrow upArrow">
        </div>
        <div class="content">
        </div>
    </section>
    <!--inline[../../common/page/foot.ejs]-->
    <script src="../static/faq.js?__inline"></script>
</body>
</html>